---
layout: base.njk
title: Portfolio - Walter Moore
---

<!-- About Section -->
<section id="about" class="my-16">
  <div class="container mx-auto px-6">
    <h3 class="text-3xl font-bold text-center mb-12">Companies I Have Worked With</h3>
    <div class="w-full flex flex-row justify-center mb-12">
      <img src="/img/pfp.png" alt="Your Bio Picture" class="w-48 h-48 border-4 border-minimal-primary dark:border-minimal-secondaryLight rounded-full shadow-lg">
    </div>
    <div class="flex flex-col lg:flex-row gap-8 w-full">
      <p class="text-lg text-justify">
          {{about['experience-intro']}}
      </p>
    </div>
  </div>
</section>

<!-- Timeline Section -->
<section id="timeline" class="mb-16">
  <div class="container mx-auto px-6">
    <div class="relative border-l-2 border-minimal-primary">
      {% for company in companies %}
      <div class="mb-8 mx-6 flex items-center">
      
        <!-- Timeline Marker -->
        <div class="absolute w-4 h-4 bg-minimal-secondary rounded-full -left-2.5 border border-minimal-primaryDark"></div>
        <a class="w-full" href="/companies/{{company['slug']}}/" >
          <div class="flex flex-row items-stretch rounded-xl shadow-lg border-2 border-minimal-primary dark:border-minimal-secondaryLight">
          <!-- Company Content -->
          <div class="grow shrink flex-col p-4">
            <div class="flex flex-row justify-between gap-4">
              <div class="flex flex-col">
                <h4 class="text-xl font-semibold">{{ company.title }}</h4>
                <p class="">{{ company.subtitle }}</p>
                <span class="text-sm">{{ company.date }}</span>
              </div>
              <div class="flex md:hidden flex-col justify-center w-32 rounded-lg bg-white flex-none p-2">
                <img src="/img/{{ company.image }}" alt="{{ company.title }}" class="object-contain">
              </div>
            </div>
            <p class="mt-2 text-justify">{{ company.description }}</p>
          </div>
          <!-- Company Image -->
          <div class="hidden md:flex flex-col justify-center w-48 bg-white flex-none p-8 rounded-r-lg">
            <img src="/img/{{ company.image }}" alt="{{ company.title }}" class="object-contain">
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
